# Agentcore Identity configurations
ACI_GW_OAUTH2_PROVIDER_NAME=<ag_identity_oauth2_provider_name>
ACI_GW_OAUTH2_SCOPES="<cognito_resource_server_identifier>/gateway:read,<cognito_resource_server_identifier>/gateway:write"

# MCP/Agentcore Gateway configurations
AGENTCORE_GW_URL=https://<acgw_id>.gateway.bedrock-agentcore.<region>.amazonaws.com/mcp

# Bedrock configurations
BEDROCK_MODEL_ID=us.anthropic.claude-sonnet-4-5-20250929-v1:0

# Agentcore Runtime configurations
APP_NAME=<app_name>
AGENTCORE_RUNTIME_ARN=arn:aws:bedrock-agentcore:<region>:<account_id>:runtime/<agentcore_runtime_id>

# ===================================================
# ADOT OTEL configurations for client application
# ===================================================

AWS_REGION=<region>
AWS_DEFAULT_REGION=<region>

# Enable Agent Observability
AGENT_OBSERVABILITY_ENABLED=true

# Allow-list user-defined baggages for ADOT to propagate
# By default 'session.id' is always propagated by convention
OTEL_BAGGAGE_SPAN_ATTRIBUTE_KEYS=user.id,tenant.id

# Disable ADOT span event extraction to log
AWS_GENAI_CONTENT_EXTRACTION_OPT_OUT=true

# AWS OpenTelemetry Distribution
OTEL_PYTHON_DISTRO=aws_distro
OTEL_PYTHON_CONFIGURATOR=aws_configurator

# CloudWatch Integration (ensure the log group and log stream are created)
OTEL_EXPORTER_OTLP_LOGS_HEADERS=x-aws-log-group=/aws/bedrock-agentcore/runtimes/<agentcore_runtime_id>,x-aws-log-stream=otel-rt-logs,x-aws-metric-namespace=<app_name>

# Service Identification
OTEL_RESOURCE_ATTRIBUTES=service.version=1.0,service.name=<app_name>

# ===================================================
# Other configurations
# ===================================================
PYTHONPATH=app/fn_shared/python
