# Agentcore Identity configurations
ACI_OAUTH2_PROVIDER_NAME=<ag_identity_oauth2_provider_name>
ACI_OAUTH2_SCOPES="<cognito_resource_server_identifier>/gateway:read,<cognito_resource_server_identifier>/gateway:write"
