# Cognito configurations
COGNITO_TOKEN_ENDPOINT=https://<domain>.auth.<region>.amazoncognito.com/oauth2/token
COGNITO_CLIENT_ID=<app_client_id>
COGNITO_CLIENT_SECRET=<app_client_secret>
COGNITO_SCOPE="<cognito_resource_server_identifier>/gateway:read <cognito_resource_server_identifier>/gateway:write"
